.titleBox {
    max-width: 1400px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(144, 121, 185, 1);
}

.subTitle {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(158, 169, 190, 1);
}

hr {
    border: none;
    border-top:  4px solid rgba(171, 182, 201, 1);
    border-radius: 10px;
}